@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
}
a {
    text-decoration: none;
}

:root {
    --desktop-width: 1440px;
    --mobile-width: 375px;

    --almost-white-color: hsl(0, 0%, 98%);
    --medium-gray-color: hsl(0, 0%, 41%);
    --almost-black-color: hsl(0, 0%, 8%);

    --paragraph-fs: 15px;

    --fw-medium: 500;
    --fw-bold: 700;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
    font-weight: var(--fw-medium);
}
div[class*="__container"] {
    max-width: var(--desktop-width);
    margin: 0 auto;
}
/* /COMMON */
/* HEADER */
.header{
    height: 85px;
    background-color: var(--almost-white-color);
}
.header__container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px 0 41px;
}
.header__logo {
    margin: 0 62px 0 0;
    padding: 10px 0 0 0;
}
.header__authorization {
    display: flex;
    gap: 40px;
    margin-left: auto;
}
.navbar__submenu {
    visibility: hidden;
    opacity: 0;
}
/* /HEADER */
/* NAVBAR */
.navbar__list {
    display: flex;
    font-size: 14px;
}
.navbar__item {
    display: flex;
    position: relative;
    cursor: pointer;
}
.navbar__item:nth-child(1){
    margin-right: 57px;
} 
.navbar__item:nth-child(2) {
    margin-right: 55px;
}
.navbar__item:nth-child(3) {
    margin-right: 40px;
}
.navbar__item:nth-child(1)::after,
.navbar__item:nth-child(2)::after {
    content: url('./images/icon-arrow-down.svg');
    position: absolute;
    top: -1px;
    right: -17px;
    display: block;
    transition: transform .2s ease;
}
.navbar__link {
    color: var(--medium-gray-color);
}
.navbar__link:hover {
    color: var(--almost-black-color);
}
.navbar__submenu {
    padding: 20px 0 0 0 ;
    position: absolute;
}
.navbar__item:nth-child(1):hover .submenu_features,
.navbar__item:nth-child(2):hover .submenu_company {
    visibility: visible;
    opacity: 1;
}
.navbar__item:nth-child(1):hover.navbar__item:nth-child(1)::after {
    transform: rotate(180deg);
}
.navbar__item:nth-child(2):hover.navbar__item:nth-child(2)::after {
    transform: rotate(180deg);
}
/* /NAVBAR */
/* BUTTON */
.button {
    color: var(--medium-gray-color);
    font-size: 14px;
    letter-spacing: 0.3px;
    font-weight: var(--fw-medium);
}

.button:hover {
    color: var(--almost-black-color);
}

.button_bordered {
    border: 2px solid var(--medium-gray-color);
    padding: 12px 20px;
    border-radius: 14px;
}
.button_black {
    font-size: 18px;
    padding: 17px 28.2px;
    background-color: var(--almost-black-color);
    color: #fff;
    border: 2px solid var(--almost-black-color);
    border-radius: 15px;
}
.button_black:hover {
    color: var(--almost-black-color);
    background-color: var(--almost-white-color);
}
/* /BUTTON */
/* SUBMENU */
.submenu {
    top: 13px;
    transition:visibility 0.2s linear,opacity 0.2s linear;
}
.submenu__list {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 25px 25px 20px 25px;
}
.submenu_features {
    right: -16px;
}
.submenu_company {
    left: 0;
    white-space: nowrap;
}
.submenu__item {
    display: flex;
}
.submenu__item:nth-child(1)::before,
.submenu__item:nth-child(2)::before,
.submenu__item:nth-child(3)::before,
.submenu__item:nth-child(4)::before {
    position: relative;
    width: 5px;
    height: 5px;
    margin-right: 24px;
}
.submenu_features .submenu__item:nth-child(1)::before {
    content: url(./images/icon-todo.svg);
}
.submenu_features .submenu__item:nth-child(2)::before {
    content: url(./images/icon-calendar.svg);
}
.submenu_features .submenu__item:nth-child(3)::before {
    content: url(./images/icon-reminders.svg);
}
.submenu_features .submenu__item:nth-child(4)::before {
    content: url(./images/icon-planning.svg);
}
.submenu__link {
    color: var(--medium-gray-color);
}
.submenu__link:hover {
    color: var(--almost-black-color);
}
/* /SUBMENU */
/* MAIN*/
.main {
    flex: 1 0 auto;
    background-color: var(--almost-white-color);
}
.main__content {
    max-width: 520px;
    padding: 103px 0 0 0;
}
.main__container {
    display: flex;
    justify-content: space-between;
    padding: 45px 130px 0 165px;
}
.main__title {
    font-size: 80px;
    font-weight: var(--fw-bold);
    letter-spacing: -1.1px;
    margin: 0 0 47px 0;
}
.main__subtitle{
    font-size: 18px;
    max-width: 480px;
    line-height: 28px;
    color: var(--medium-gray-color);
    word-spacing: .4px;
    margin: 0 0 50px 0;
}
.main__image {
    max-width: 480px;
}
.main__button {
    margin-bottom: 109px;
}
/* /MAIN*/

/* CLIENTS */
.clients {
    max-width: 479px;
}

.clients__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* /CLIENTS */