@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
}
a {
    text-decoration: none;
}

:root {
    --desktop-width: 1470px;
    --mobile-width: 375px;

    --almost-white-color: hsl(0, 0%, 98%);
    --medium-gray-color: hsl(0, 0%, 41%);
    --almost-black-color: hsl(0, 0%, 8%);

    --paragraph-fs: 15px;

    --fw-medium: 500;
    --fw-bold: 700;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
    font-weight: var(--fw-medium);
    background-color: var(--almost-white-color);
}
div[class*="__container"] {
    max-width: var(--desktop-width);
    margin: 0 auto;
    padding: 0 15px;
}
body._lock {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.lock-layer_active {
    background-color: rgba(0,0,0,0.6);
    display: block;
    width: 30%;
    height: 100%;
} 
.lock-layer {
    position: fixed;
    top: 0;
    left: 0;
}
/* /COMMON */
/* HEADER */
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    padding: 0 40px 0 41px;
}
.header__controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    margin: 0 62px 0 0;
    padding: 10px 0 0 0;
}
.header__authorization {
    display: flex;
}
.header__authorization button:not(:last-child) {
    margin-right: 40px;
}
/* /HEADER */
/* NAVBAR */
.navbar__list {
    display: flex;
    font-size: 14px;
}
.navbar__item {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.navbar__item:nth-child(1){
    margin-right: 57px;
} 
.navbar__item:nth-child(2) {
    margin-right: 55px;
}
.navbar__item:nth-child(3) {
    margin-right: 40px;
}
.navbar__dropdowns:nth-child(1)::after,
.navbar__dropdowns:nth-child(2)::after {
    content: url('./images/icon-arrow-down.svg');
    position: absolute;
    top: -1px;
    right: -17px;
    display: block;
    transition: transform .2s ease;
}
.navbar__link {
    color: var(--medium-gray-color);
}
.navbar__link:hover {
    color: var(--almost-black-color);
}
.navbar__submenu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding: 20px 0 0 0 ;
}
/* /NAVBAR */
/* BUTTON */
.button {
    color: var(--medium-gray-color);
    font-size: 14px;
    letter-spacing: 0.3px;
    font-weight: var(--fw-medium);
}

.button:hover {
    color: var(--almost-black-color);
}

.button_bordered {
    border: 2px solid var(--medium-gray-color);
    padding: 12px 20px;
    border-radius: 14px;
}
.button_black {
    font-size: 18px;
    padding: 17px 28.2px;
    background-color: var(--almost-black-color);
    color: #fff;
    border: 2px solid var(--almost-black-color);
    border-radius: 15px;
}
.button_black:hover {
    color: var(--almost-black-color);
    background-color: var(--almost-white-color);
}
/* /BUTTON */
/* SUBMENU */
.submenu {
    top: 13px;
    transition:visibility 0.2s linear,opacity 0.2s linear;
}
.submenu__list {
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 25px 25px 20px 25px;
}
.submenu__item:not(:last-child) {
    margin: 0 0 20px 0;
}
.submenu_features {
    right: -16px;
}
.submenu_company {
    left: 0;
    white-space: nowrap;
}
.submenu__item {
    display: flex;
}
.submenu__item:nth-child(1)::before,
.submenu__item:nth-child(2)::before,
.submenu__item:nth-child(3)::before,
.submenu__item:nth-child(4)::before {
    position: relative;
    width: 5px;
    height: 5px;
    margin-right: 24px;
}
.submenu_features .submenu__item:nth-child(1)::before {
    content: url(./images/icon-todo.svg);
}
.submenu_features .submenu__item:nth-child(2)::before {
    content: url(./images/icon-calendar.svg);
}
.submenu_features .submenu__item:nth-child(3)::before {
    content: url(./images/icon-reminders.svg);
}
.submenu_features .submenu__item:nth-child(4)::before {
    content: url(./images/icon-planning.svg);
}
.submenu__link {
    color: var(--medium-gray-color);
}
.submenu__link:hover {
    color: var(--almost-black-color);
}
/* /SUBMENU */
/* MAIN*/
.main {
    flex: 1 0 auto;
    margin-top: 45px;
}
/* div[class=main__container] {

} */
.main__content {
    display: flex;
    margin: 0 auto;
    padding: 0 0 0 165px;
}
.main__offer {
    max-width: 520px;
    padding: 103px 0 0 0;
    margin: 0 145px 0 0px;
}
.main__title {
    font-size: 80px;
    font-weight: var(--fw-bold);
    letter-spacing: -1.1px;
    margin: 0 0 47px 0;
}
.main__subtitle{
    font-size: 18px;
    max-width: 480px;
    line-height: 28px;
    color: var(--medium-gray-color);
    word-spacing: .4px;
    margin: 0 0 50px 0;
}
.main__image-box {
    background-image: url('./images/image-hero-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 480px;
}
.main__image {
    max-width: 100%;
    vertical-align: top;
}
.main__button {
    margin-bottom: 109px;
}
/* /MAIN*/
/* CLIENTS */
.clients {
    max-width: 479px;
}
.clients__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients__item {
    width: 100%;
}
/* /CLIENTS */
/* ICON-CONTROLS */
.icon-controls {
    display: none;
    position: relative;
    width: 32px;
    height: 18px;
    cursor: pointer;
    background-image: url('./images/icon-menu.svg');
    background-repeat: no-repeat;
    z-index: 1;
}
.icon-controls_active {
    width: 26px;
    height: 26px;
    background-image: url('./images/icon-close-menu.svg');
}
/* /ICON-CONTROLS */
/* @MEDIA */
@media (min-width: 768px)  {
    .navbar__item:nth-child(1):hover .submenu_features,
    .navbar__item:nth-child(2):hover .submenu_company {
    visibility: visible;
    opacity: 1;
    }
    .navbar__item:nth-child(1):hover.navbar__item:nth-child(1)::after {
    transform: rotate(180deg);
    }
    .navbar__item:nth-child(2):hover.navbar__item:nth-child(2)::after {
    transform: rotate(180deg);
    }
}
@media (max-width: 1199px) {
    .header__logo {
        margin: 0 30px 0 0;
    }
    .header__content {
        padding: 0;
    }
    .navbar__item:not(:last-child) {
        margin: 0 30px 0 0;
    }
    .main__content {
        padding: 0;
        justify-content: flex-start;
    }
    .main__image-box {
        display: none;
    }
    .main__offer {
        padding: 30px 0 0 0;
        margin: 0;
    }
    
}
@media (max-width: 767px) {
    .header__controls {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 75%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        padding: 50px 0 0 0;
        background-color: #fff;
        font-size: 32px;
    }
    .header__controls_active {
        visibility: visible;
        opacity: 1;
    }
    .navbar__list {
        flex-direction: column;
        margin: 0 0 30px 0;
    }
    .navbar__item {
        font-size: 18px;
    }
    .navbar__item:not(:last-child) {
        margin: 0 0 20px 0;
    }
    .icon-controls {
        display: block;
    }
    .navbar__dropdowns_active + div {
        visibility: visible;
        opacity: 1;
    }
    .submenu_features {
        right: -60px;
    }
    .submenu_company {
        left: 21px;
    }
    .navbar__dropdowns_active.navbar__dropdowns_features {
        padding-bottom: 150px;
    }
    .navbar__dropdowns_active.navbar__dropdowns_company {
        padding-bottom: 110px;
    }
    .submenu__list {
        z-index: 1;
        box-shadow: none;
        padding: 0;
    }
    .navbar__dropdowns_active::after {
        transform: rotate(180deg);
    }
    .clients__item img{
        width: 90%;
    }
}
@media (max-width: 376px)   {
    .header__controls {
        padding: 70px 25px 0 25px;
        align-items: flex-start;
    }
    .header__authorization {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .header__authorization button:not(:last-child) {
        margin:0 0 25px 0;
    }
    .main {
        margin-top: 10 px;
    }
    .main__content {
        flex-direction: column-reverse;
    }
    .main__offer {
        width: 100%;
        text-align: center;
    }
    .main__title {
        font-size: 30px;
        margin: 0 0 20px 0;
    }
    .main__subtitle {
        font-size: 16px;
    }
    .main__image-box {
        width: 100%;
        background-size: 100%;
        padding-bottom: 245px;
        display: block;
        background-image: url('./images/image-hero-mobile.png');
    }
    .clients__item img {
        width: 80%;
    }
    .main__button {
        margin-bottom: 40px;
    }
}
/* /@MEDIA */
